[submodule "pkgs/by-name/rofi-beats"]
	path = pkgs/by-name/rofi-beats
	url = https://github.com/NixAchu/rofi-beats
[submodule "pkgs/by-name/citra"]
	path = pkgs/by-name/citra
	url = https://github.com/NixAchu/citra
